drone.carlboettiger.info {
  
  tls cboettig@gmail.com

  proxy / drone:8000 {
      websocket
      transparent
  }

  
  proxy /rstudio rstudio:8787 {
    without /rstudio
    header_upstream Host {host}/rstudio
    websocket
    transparent
  }
  redir /rstudio /rstudio/ 307

}
