teaching.carlboettiger.info {
  
  tls cboettig@gmail.com

  proxy / rstudio:8787 {
    header_upstream Host {host}
    websocket
    transparent
  }

}


#status.teaching.carlboettiger.info {
#
#  tls cboettig@gmail.com
#  proxy / monitor:19999 
#
#}



