44-core.carlboettiger.info {
  
  tls cboettig@gmail.com

  proxy / rstudio:8787 {
    transparent
  }

}


status.44-core.carlboettiger.info {

  tls cboettig@gmail.com
  proxy / monitor:19999 

}



