thelio.carlboettiger.info {
  
  tls cboettig@gmail.com

  proxy / rstudio:8787 {
    header_upstream Host {host}
    websocket
    transparent
  }

}

minio.carlboettiger.info {

    tls cboettig@gmail.com
    proxy / minio:9000 {
        transparent
    }

}


## Caddy-based file server
data.carlboettiger.info {
    
    tls cboettig@gmail.com
    root /www/data.carlboettiger.info
    gzip
    log ../access.log

}

thelio-status.carlboettiger.info {

  tls cboettig@gmail.com
  proxy / monitor:19999 

}


rstudio.carlboettiger.info {
  
  tls cboettig@gmail.com

  proxy / rstudio2:8787 {
    header_upstream Host {host}
    websocket
    transparent
  }

}

# GitLab, based on: https://gitlab.com/gitlab-org/gitlab-recipes/-/blob/master/web-server/caddy/Caddyfile 

gitlab.carlboettiger.info {
    tls cboettig@gmail.com

    log git.access.log {
        rotate_size     50
	    rotate_age      90
	    rotate_keep     20
	    rotate_compress
    }

    errors git.errors.log {
        404 /opt/gitlab/embedded/service/gitlab-rails/public/404.html
        422 /opt/gitlab/embedded/service/gitlab-rails/public/422.html
        500 /opt/gitlab/embedded/service/gitlab-rails/public/500.html
        502 /opt/gitlab/embedded/service/gitlab-rails/public/502.html
    }

    proxy / gitlab:8081 {
        fail_timeout 0s

        header_upstream X-Forwarded-Ssl on
        
        transparent
    }
}


ml.carlboettiger.info {

  tls cboettig@gmail.com

  proxy / ml:8787 {
    header_upstream Host {host}
    websocket
    transparent
  }

}




#
#jupyter.carlboettiger.info {
#  tls cboettig@gmail.com
#  proxy / jupyter:8888 {
#    websocket
#    transparent
#  }
#}
#

