thelio.carlboettiger.info {
  
  tls cboettig@gmail.com

  proxy / rstudio:8787 {
    header_upstream Host {host}
    websocket
    transparent
  }

}

data.carlboettiger.info {
    
    tls cboettig@gmail.com
    root /www/data.carlboettiger.info
    gzip
    log ../access.log

}

thelio-status.carlboettiger.info {

  tls cboettig@gmail.com
  proxy / monitor:19999 

}


rstudio.carlboettiger.info {
  
  tls cboettig@gmail.com

  proxy / rstudio2:8787 {
    header_upstream Host {host}
    websocket
    transparent
  }

}


