chameleon.carlboettiger.info {
  tls cboettig@gmail.com
  reverse_proxy rstudio:8787 {
    header_up Host {host}
  }

}


status.chameleon.carlboettiger.info {
  tls cboettig@gmail.com
  reverse_proxy monitor:19999 
}

