jetstream.carlboettiger.info {
  
  tls cboettig@gmail.com

  reverse_proxy rstudio:8787 {
    header_up Host {host}
  }

}

rstudio.jetstream.carlboettiger.info {
  
  tls cboettig@gmail.com
  reverse_proxy rstudio2:8787 {
    header_up Host {host}
  }
}


status.jetstream.carlboettiger.info {

  tls cboettig@gmail.com
  reverse_proxy monitor:19999 

}


minio.jetstream.carlboettiger.info {
  tls cboettig@gmail.com
  reverse_proxy minio:9000
}

hash-archive.jetstream.carlboettiger.info {
  
  tls cboettig@gmail.com
  reverse_proxy hash-archive:8000

}


## old proxy
rstudio.carlboettiger.info {
  
  tls cboettig@gmail.com
  reverse_proxy rstudio2:8787 {
    header_up Host {host}
  }
}


