thelio.carlboettiger.info {  
  tls cboettig@gmail.com
  reverse_proxy rstudio:8787 {
    header_up Host {host}
  }
}

#shiny.thelio.carlboettiger.info {  
#  tls cboettig@gmail.com
#  reverse_proxy rstudio2:3838 {
#    header_up Host {host}
#  }
#}


data.thelio.carlboettiger.info {
    tls cboettig@gmail.com
    reverse_proxy minio:9001 {
        header_up X-Forwarded-Proto {scheme}
        header_up X-Forwarded-Host {host}
        header_up Host {host}
        health_path /minio/health/ready
    }
}


minio.thelio.carlboettiger.info {
    tls cboettig@gmail.com
    reverse_proxy minio:9000 {
        header_up X-Forwarded-Proto {scheme}
        header_up X-Forwarded-Host {host}
        header_up Host {host}
        health_path /minio/health/ready
    }
}

#prometheus.thelio.carlboettiger.info {
#  tls cboettig@gmail.com
#  reverse_proxy prometheus:9090
#}


#hash-archive.thelio.carlboettiger.info {
#  tls cboettig@gmail.com
#  reverse_proxy hash-archive:8000
#}

status.thelio.carlboettiger.info {
  tls cboettig@gmail.com
  reverse_proxy monitor:19999 
}

rstudio.thelio.carlboettiger.info {
  tls cboettig@gmail.com
  reverse_proxy rstudio2:8787 {
    header_up Host {host}
  }
}

#jupyter.thelio.carlboettiger.info {
#  tls cboettig@gmail.com
#  reverse_proxy rstudio:8888 {
#    header_up Host {host}
#  }
#}

#vscode.carlboettiger.info {
#  tls cboettig@gmail.com
#  reverse_proxy vscode:8080 {
#    header_up Host {host}
#  }
#}


#tensorboard.thelio.carlboettiger.info {
#  tls cboettig@gmail.com
#  reverse_proxy rstudio:2223 {
#    header_up Host {host}
#  }
#}


## GitLab, based on: https://gitlab.com/gitlab-org/gitlab-recipes/-/blob/master/web-server/caddy/Caddyfile 
#gitlab.carlboettiger.info {
#    tls cboettig@gmail.com
#    reverse_proxy gitlab:8081 {
#        header_up X-Forwarded-Ssl on
#    }
#}
#

#minikube.thelio.carlboettiger.info {
#  tls cboettig@gmail.com
#  reverse_proxy minikube:8080 {
#    header_up Host {host}
#  }
#}

minikube.thelio.carlboettiger.info {

  reverse_proxy 10.103.183.240:80 {
     header_up Host helloworld-python.default.10.103.183.240.sslip.io   
  }  
  tls cboettig@gmail.com
 }




