status.cirrus.carlboettiger.info {

  tls cboettig@gmail.com
  reverse_proxy monitor:19999 

}


cirrus.carlboettiger.info {
  
  tls cboettig@gmail.com

  reverse_proxy rstudio:8787 {
    header_up Host {host}
  }

}

marcus.carlboettiger.info {
  
  tls cboettig@gmail.com

  reverse_proxy marcus:8787 {
    header_up Host {host}
  }

}


rstudio.cirrus.carlboettiger.info {
  
  tls cboettig@gmail.com

  reverse_proxy rstudio2:8787 {
    header_up Host {host}
  }
}

vscode.cirrus.carlboettiger.info {
  
  tls cboettig@gmail.com

  reverse_proxy vscode:8080 {
    header_up Host {host}
  }

}

tensorboard.cirrus.carlboettiger.info {
  tls cboettig@gmail.com
  reverse_proxy rstudio:2223 {
    header_up Host {host}
  }
}


jupyter.cirrus.carlboettiger.info {
  tls cboettig@gmail.com
  reverse_proxy rstudio2:8000 {
    header_up Host {host}
  }
}

data.cirrus.carlboettiger.info {
    tls cboettig@gmail.com
    reverse_proxy minio:9001 {
        header_up X-Forwarded-Proto {scheme}
        header_up X-Forwarded-Host {host}
        header_up Host {host}
        health_path /minio/health/ready
    }
}

minio.cirrus.carlboettiger.info {

    tls cboettig@gmail.com
    reverse_proxy minio:9000 {
        header_up X-Forwarded-Proto {scheme}
        header_up X-Forwarded-Host {host}
        header_up Host {host}
        health_path /minio/health/ready
    }
}

prometheus.cirrus.carlboettiger.info {
  tls cboettig@gmail.com
  reverse_proxy prometheus:9090
}

minio.carlboettiger.info {
    tls cboettig@gmail.com
    reverse_proxy minio_nvme:9000 {
        header_up X-Forwarded-Proto {scheme}
        header_up X-Forwarded-Host {host}
        header_up Host {host}
        health_path /minio/health/ready
    }
}

data.carlboettiger.info {
    tls cboettig@gmail.com
    reverse_proxy minio_nvme:9001 {
        header_up X-Forwarded-Proto {scheme}
        header_up X-Forwarded-Host {host}
        header_up Host {host}
        health_path /minio/health/ready
    }
}


hash-archive.carlboettiger.info {
  tls cboettig@gmail.com
  reverse_proxy hash-archive:8000
}



