{
    admin :2019
}

## Alias for EFI server 
minio.carlboettiger.info {
  tls cboettig@gmail.com
	reverse_proxy nvme:9000 {
  	  header_up X-Forwarded-Proto {scheme}
    	header_up X-Forwarded-Host {host}
    	header_up Host {host}
    	health_path /minio/health/ready
	}
}

data.carlboettiger.info {
    tls cboettig@gmail.com
    reverse_proxy nvme:9001 {
        header_up X-Forwarded-Proto {scheme}
        header_up X-Forwarded-Host {host}
        header_up Host {host}
        health_path /minio/health/ready
    }
}


millie.carlboettiger.info {
  
  tls cboettig@gmail.com
  reverse_proxy millie:8787 

}




status.cirrus.carlboettiger.info {

  tls cboettig@gmail.com
  reverse_proxy monitor:19999 

}


cirrus.carlboettiger.info {
  
  tls cboettig@gmail.com

  reverse_proxy rstudio:8787 {
    header_up Host {host}
  }

}

spatial.carlboettiger.info {
  
  tls cboettig@gmail.com

  reverse_proxy spatial:8787 {
    header_up Host {host}
  }

}

rstudio.carlboettiger.info {
  
  tls cboettig@gmail.com

  reverse_proxy rstudio3:8787 {
    header_up Host {host}
  }

}


marcus.carlboettiger.info {
  
  tls cboettig@gmail.com

  reverse_proxy marcus:8787 {
    header_up Host {host}
  }

}


rstudio.cirrus.carlboettiger.info {
  
  tls cboettig@gmail.com

  reverse_proxy rstudio2:8787 {
    header_up Host {host}
  }
}

vscode.cirrus.carlboettiger.info {
  
  tls cboettig@gmail.com

  reverse_proxy vscode:8080 {
    header_up Host {host}
  }

}

tensorboard.cirrus.carlboettiger.info {
  tls cboettig@gmail.com
  reverse_proxy rstudio:2223 {
    header_up Host {host}
  }
}


jupyter.cirrus.carlboettiger.info {
  tls cboettig@gmail.com
  reverse_proxy rstudio2:8000 {
    header_up Host {host}
  }
}

data.cirrus.carlboettiger.info {
    tls cboettig@gmail.com
    reverse_proxy minio:9001 {
        header_up X-Forwarded-Proto {scheme}
        header_up X-Forwarded-Host {host}
        header_up Host {host}
        health_path /minio/health/ready
    }
}

minio.cirrus.carlboettiger.info {

    tls cboettig@gmail.com
    reverse_proxy minio:9000 {
        header_up X-Forwarded-Proto {scheme}
        header_up X-Forwarded-Host {host}
        header_up Host {host}
        health_path /minio/health/ready
    }
}

prometheus.cirrus.carlboettiger.info {
  tls cboettig@gmail.com
  reverse_proxy prometheus:9090
}


hash-archive.carlboettiger.info {
  tls cboettig@gmail.com
  reverse_proxy hash-archive:8000
}

fishbase.ropensci.org {
  tls cboettig@gmail.com
  reverse_proxy minio:9000 {
        header_up X-Forwarded-Proto {scheme}
        header_up X-Forwarded-Host {host}
        header_up Host {host}
        health_path /minio/health/ready
    }

}

